---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/observer-mode/rest/consumer/getSpectatorGameInfo/NA1/47581120?api_key=RGAPI-A57E7FF0-4281-46DF-8A33-4C58F6233FA2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,4:600
    body:
      encoding: UTF-8
      string: '{"gameId":2327296940,"mapId":11,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","gameQueueConfigId":410,"participants":[{"teamId":100,"spell1Id":4,"spell2Id":3,"championId":12,"profileIconId":1233,"summonerName":"DoombringerEX","bot":false,"summonerId":47581120,"runes":[{"count":9,"runeId":5273},{"count":9,"runeId":5296},{"count":5,"runeId":5316},{"count":4,"runeId":5317},{"count":3,"runeId":5356}],"masteries":[{"rank":5,"masteryId":6211},{"rank":1,"masteryId":6223},{"rank":5,"masteryId":6231},{"rank":1,"masteryId":6241},{"rank":5,"masteryId":6311},{"rank":1,"masteryId":6322},{"rank":5,"masteryId":6332},{"rank":1,"masteryId":6342},{"rank":5,"masteryId":6352},{"rank":1,"masteryId":6363}]},{"teamId":100,"spell1Id":7,"spell2Id":4,"championId":51,"profileIconId":522,"summonerName":"Rekeri","bot":false,"summonerId":19353105,"runes":[{"count":9,"runeId":5245},{"count":9,"runeId":5289},{"count":9,"runeId":5317},{"count":3,"runeId"[...]
