---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/matchlist/by-summoner/20833616?api_key=<RIOT
      API KEY>&rankedQueues=RANKED_SOLO_5x5&season=SEASON2015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"matches":[{"platformId":"NA1","matchId":1937348644,"champion":7,"queue":"RANKED_SOLO_5x5","season":"SEASON2015","timestamp":1441089884086,"lane":"MID","role":"SOLO"},{"platformId":"NA1","matchId":1926932640,"champion":76,"queue":"RANKED_SOLO_5x5","season":"SEASON2015","timestamp":1440231389205,"lane":"JUNGLE","role":"NONE"},{"platformId":"NA1","matchId":1917576817,"champion":69,"queue":"RANKED_SOLO_5x5","season":"SEASON2015","timestamp":1439423599807,"lane":"MID","role":"SOLO"},{"platformId":"NA1","matchId":1908651276,"champion":59,"queue":"RANKED_SOLO_5x5","season":"SEASON2015","timestamp":1438665666487,"lane":"JUNGLE","role":"NONE"},{"platformId":"[...]
